body {
    background: linear-gradient(to bottom right,#b19143 0%,black 100%);
  }

.parent {
    text-align: center;
    font-size: 69px;
    color: #b19143;
}

a {
    text-decoration: none;
    color: #b19143;
}

a:hover{
    color: white;
}

.tooltip {    
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: #ffc64a;
  }
  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
  }

p {
    font-size: 32px;
    text-align: center;
    color: #b19143;
}

.About_Me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}